.woo-app-nav {
	background-color:#e9a816;
	margin-bottom:0;
	.container, .container-fluid {
		padding-top:5px;
		padding-bottom:5px;
		.navbar-toggle > span {
			background-color:#fff;
		}
		.navbar-brand {
			margin:0 auto;
			img {
				width:120px;
			}
		}
		.nav > li > a {
			i, span {
				color: #fff;
				font-size: 1.5rem;
			}
		}
		.nav > li > a:hover, .nav > li > a:focus {
		    background-color: transparent;
		    color: #333;
		}
		.dropdown-menu {
			background-color:#e9a816;
			li a {
				color: #fff;
				font-size: 1.5rem;
			}
			li a:hover, .dropdown-menu li a:focus {
				background-color: #FFE0C4;
				color:#333;
			}
		}
	}
}

.card-panel {
	padding:20px;
	background-color:#fff;
	border:1px solid #e0e0e0;
	margin-bottom:20px;
}
.section-title {
	text-align:center;
	font-weight:bold;
	font-size:4rem;
}

.artistDashboard-content {


	.placeholder {
		color:#afacac;
		font-family:'open-sans';
		font-size:1.4rem;
	}

	.text-header {
		font-family: 'open-sans';
	    font-size: 2rem;
	    font-weight: bold;
	}

	.section-1.profile-cover {
		background-color:transparent;
		background-position:center;
		background-size:cover;
		background-repeat:no-repeat;
		background-color:#c9c9c9;
		overflow:hidden;
		.overlay {
			height:100%;
			padding:100px 10px 10px 10px;
			
			.dp-container {
				height:165px;
				width:100%;
				margin:0 auto 10px auto;
				.dp {
					border-radius:5%;
					height:100%;
					width:100%;
					background-repeat:no-repeat;
					background-size:cover;
					background-position:center;
					background-color:#c9c9c9;
					border:4px solid #c9c9c9;
				}
			}
			.basic-info {
				.artist {
					font-family: 'open-sans';
					font-size:3rem;
					font-weight:bold;
					color:#fff;
					text-shadow:2px 2px #333;
					.address {
						font-size:1.4rem;
						color:inherit;
						font-family:inherit;
					}
				}
				.forte {
					font-family: 'open-sans';
					font-size:1.4rem;
					font-weight:bold;
					color:#fff;
					text-shadow:2px 2px #333;
					margin-bottom:5px;
				}

				.fb-link, .heart-star {
					i {
						color:#fff;
						text-shadow:2px 2px #333;
					}
					margin-bottom:7px;
					color:#fff;
					text-shadow:2px 2px #333;
					font-size:1.4rem;
				}
				.fb-link {
					font-family: 'open-sans';
					// text-transform:uppercase;
					font-weight:bold;
				}
				.heart-star {
					font-size:2rem;
					margin-bottom:10px;
					.fa-star {
						color:#f1c40f;
					}
					.fa-heart {
						color:#F9583B;
					}
				}
			}
		}
	}

	.section-2.featured-photo {
		padding:30px 0;
		.featPhoto-wrap {
				padding:0 40px;

				.featPhoto-carousel {
					a {
						text-decoration:none;
						.artistPhoto-item {
							width:100%;
							height:230px;
							background-color:#333;
							background-position:center;
							background-repeat:no-repeat;
							background-size:cover;
							.hoverlay {
								display:flex;
								align-items:flex-end;
								width:100%;
								height:100%;
								padding:10px;
								background-color:transparent;
								transition: background-color .25s ease;
								-webkit-transition: background-color .25s ease;
								-moz-transition: background-color .25s ease;
								.photo-caption {
									color:#fff;
									font-family: 'BernardFashion';
									
									font-size:1.75rem;
									font-weight:bold;
									text-shadow: 1px 1px 1px #333 ;
								}
							}
							.hoverlay:hover {
								background-color:rgba(0, 0, 0, 0.5);
							}
						}
					}
					.slick-prev:before, .slick-next:before {
						color:#e9a816;
					}
				}
			}
	}

	.section-3.more-info {
		padding:20px 0;
		background-color:#fff;
		margin-bottom:40px;
		.about-artist {
			.title {
				font-family: 'open-sans';
				font-size:2rem;
				font-weight:bold;
			}
			.about-text {
				font-family: 'open-sans';
    			font-size: 1.4rem;
    			color:#333;
			}
		}
		.affiliation-artist {
			.title {
				font-family: 'open-sans';
				font-size:2rem;
				font-weight:bold;
			}
			.affiliation-text {
				font-family: 'open-sans';
    			font-size: 1.4rem;
    			color:#333;
			}
			// .affiliation-list > li {
			// 	font-family: 'BernardFashion';
   //  			font-size: 1.80rem;
   //  			margin-bottom:15px;
			// }
		}
	}

	.section-4.portfolio {
		padding:30px 20px;
		background-color:#fff;
		margin-bottom:40px;
		.title {
			margin-bottom: 10px;
			font-weight:bold;
			font-size:2rem;
			font-family: 'open-sans';
		}
		.sub-title {
			font-family: 'open-sans';
			margin-bottom: 10px;
			font-size:1.4rem;
			font-weight:normal;
		}
		.album {
			margin-bottom:20px;

			a {
				text-decoration:none;

				.album-item {
					width:100%;
					height:200px;
					background-repeat:no-repeat;
					background-position:center;
					background-size:cover;

					margin-bottom:5px;

					.overlay {
						width:100%;
						height:100%;
						display:flex;
						align-items:center;
						background-color:rgba(0, 0, 0, 0.5);

						.album-icon {
							font-size:100px;
							color:#ccc;
							margin:auto;
						}

						.album-title {
							color:#fff;
							font-family: 'BernardFashion';
							font-size:1.75rem;
							font-weight:bold;
							text-shadow: 1px 1px 1px #333;
							margin:0 auto;
						}
					}

				}
			}
		}
		.video {
		
			.video-item {
				margin-bottom:10px;
				iframe.vid {
					width:100%;
					height:250px;
				}
				figure.vid {
					width:100%;
					height:250px;

					background-color:#000;
					background-size:contain;
					background-position:center;
					background-repeat:no-repeat;
					display:flex;
					align-items:center;
					padding:20px;
					a {
						margin:0 auto;
						i {
							color:#CC181E;
						}
					}
				}
			}
		}
	}

	.section-5.event {
		background-color:#fff;
		padding:30px;
		margin-bottom:40px;

		.title {
			font-weight:bold;
			margin-bottom:10px;
			font-size:2rem;
			font-family: 'open-sans';
		}

		.event-wrap {
			a {
				text-decoration:none;
				.event-item {
					width:100%;
					height:200px;
					background-color:#333;
					background-repeat:no-repeat;
					background-position:center;
					background-size:cover;

					margin-bottom:5px;

					.hoverlay {
						width:100%;
						height:100%;
						display:flex;
						align-items:flex-end;
						padding:10px;
						background-color:transparent;
						transition: background-color .25s ease;
						-webkit-transition: background-color .25s ease;
						-moz-transition: background-color .25s ease;
						.event-title {
							color:#fff;
							font-family: 'BernardFashion';
							
							font-size:1.75rem;
							font-weight:bold;
							text-shadow: 1px 1px 1px #333 ;
						}
					}
					.hoverlay:hover {
						background-color:rgba(0, 0, 0, 0.5);
					}
				}
			}
		}
	}

}

.artistProfileSetting-content {
	.section-content {
		.form-profile {
			.file-wrap {
				display:none;
			    width: 100%;
			    height: 300px;
			    background-color: #333;
			    background-repeat: no-repeat;
			    background-size: contain;
			    background-position: center center;
			}
		}
	}
	.affil-fields .input-group {
		margin-bottom:10px;
	}
}

.artistPasswordSetting-content {
	.section-content {

	}
}

.artistPortfolio-content {
	.btn-add {
		margin-top:10px;
	}
	.section-content {
		.featA-photo {
			a {
				text-decoration:none;

				.feat-item {
					width:100%;
					height:200px;
					background-repeat:no-repeat;
					background-position:center;
					background-size:cover;

					margin-bottom:10px;

					.hoverlay {
						width:100%;
						height:100%;
						padding:10px;
						display:flex;
						align-items:flex-end;
						background-color:transparent;
						transition: background-color .25s ease;
						-webkit-transition: background-color .25s ease;
						-moz-transition: background-color .25s ease;

						.photo-title {
							color:#fff;
							font-family: 'BernardFashion';
							
							font-size:1.75rem;
							font-weight:bold;
							text-shadow: 1px 1px 1px #333 ;
						}
					}
					.hoverlay:hover {
						background-color:rgba(0, 0, 0, 0.5);
					}

				}
			}
		}

		.album-photo {
			a {
				text-decoration:none;

				.album-item {
					width:100%;
					height:200px;
					background-repeat:no-repeat;
					background-position:center;
					background-size:cover;

					margin-bottom:5px;

					.overlay {
						width:100%;
						height:100%;
						display:flex;
						align-items:center;
						text-align:center;
						background-color:rgba(0, 0, 0, 0.5);

						.album-icon {
							font-size:100px;
							color:#ccc;
							margin:auto;
						}

						.album-title {
							color:#fff;
							font-family: 'BernardFashion';
							font-size:1.75rem;
							font-weight:bold;
							text-shadow: 1px 1px 1px #333;
							margin:0 auto;
						}
					}

				}
			}
		}
		.video {



			.video-item {
				iframe.vid {
					width:100%;
					height:250px;
				}
				figure.vid {
					width:100%;
					height:250px;

					background-color:#000;
					background-size:contain;
					background-position:center;
					background-repeat:no-repeat;
					display:flex;
					align-items:flex-end;
					padding:20px;

					.btn-group {
						margin:0 auto;
						.btn i {
							color:#fff;
						}
					}
				}
			}
		}
		.album-photos {
			.photo-wrap {
				padding:10px;
				border:1px solid #eee;

				.item-img {
					width:100%;
					height:130px;
					background-color:#333;
					background-size:contain;
					background-repeat:no-repeat;
					background-position:center;
					margin-bottom:10px;

					.overlay {
						width:100%;
						height:100%;
						background-color:rgba(0, 0, 0, 0.2);
						display:flex;
						align-items:flex-start;
						flex-direction:row-reverse;
					}
				}
			}
		}
		.portfolio-videos {
			.video-wrap {
				padding:10px;
				border:1px solid #eee;

				.video-item {
					i frame.vid {
						width:100%;
						height:250px;
					}
					figure.vid {
						width:100%;
						height:250px;

						background-color:#000;
						background-size:contain;
						background-position:center;
						background-repeat:no-repeat;
						display:flex;
						align-items:flex-end;
						padding:20px;

						.btn-group {
							margin:0 auto;
							.btn i {
								color:#fff;
							}
						}
					}
				}
			}
		}
	}
}

.artistEvent-content {
	.upcoming-event {
		// .event-wrap {
		// 	.event-item {
		// 		margin-bottom:40px;
		// 		.event-img {
		// 			width:100%;
		// 			height:150px;
		// 			margin:auto;
		// 			background-color:#333;
		// 			background-size:contain;
		// 			background-position:center;
		// 			background-repeat:no-repeat;
		// 			margin-bottom:20px;
		// 		}
		// 		.event-info {
		// 			.event-title {
		// 				font-size:2.5rem;
		// 			}
		// 		}
		// 	}
		// }

		margin-bottom:20px;
		.card-event {
			width:100%;
			height:300px;
			background-color:#888;
			box-shadow:0px 1px 1px #888;
			position:relative;
			background-size:cover;
			background-position:center;
			background-repeat:no-repeat;
			.overlay {
				height:100%;
				width:100%;
				padding:10px;
				background-color:rgba(0, 0, 0, 0.5);
				display:flex;
				align-items:flex-end;
				.title {
					font-size:17px;
					color:#fff;
					font-family: 'BernardFashion';
					font-weight:bold;
					text-decoration:none;
				}
			}
			.card-reveal {
			    padding: 20px;
			    position: absolute;
			    background-color: #FFF;
			    width: 100%;
			    overflow-y: auto;
			    overflow-x:hidden;
			    /*top: 0;*/
			    left:0;
			    bottom:0;
			    height: 100%;
			    z-index: 1;
			    display: none;
			    .reveal-title {
			    	display:block;
			    	font-size:15px;
			    }
			    .info {
			    	font-size:13px;
			    	color:#888;
			    }
			    p {
				    color: rgba(0, 0, 0, 0.71);
				}
			}
		}
	}
	.create-event {
		.file-wrap {
			display:none;
		    width: 100%;
		    height: 300px;
		    background-color: #333;
		    background-repeat: no-repeat;
		    background-size: contain;
		    background-position: center center;
		}
	}
}

.artistPackagelist-content {
	.packages-fields .input-group {
		margin-bottom:10px;
	}
}

.artistReview-content {
	.read-review {
		.modal-body {
			padding:0px;
			.review-wrap {
				.avatar-cover {
					padding:20px;
					border:1px solid #eee;
					.avatar {
						height:10rem;
						width:10rem;
						margin:auto;
						border:4px solid #c9c9c9;
						border-radius:50%;
						background-repeat:no-repeat;
						background-position:center;
						background-size:cover;
						background-color:#c9c9c9;
					}
					.caption {
						font-size:3rem;
						text-align:center;
						font-family: 'BernardFashion';
						font-weight:bold;
					}
				}
				.review-text {
					// border:1px solid #eee;
					padding:20px;
				}
			}
		}
	}
}

.recent-added-items {
	a {
		text-decoration:none;
		color:inherit;

		.merchandise-item {
			width:100%;
			border-top: 1px solid #c9c9c9;
			border-right: 1px solid #c9c9c9;
			border-bottom:5px solid #e9a816;
			border-left: 1px solid #c9c9c9;
			.item-img {
				width:100%;
				height:200px;
				background-color:#c9c9c9;
				background-repeat:no-repeat;
				background-position:center;
				background-size:contain;
			}
			.item-info {
				padding:10px;
				text-align:center;
				background-color:#fff;
				.item-name {
					font-family: 'BernardFashion';
					font-weight:bold;
				}
				.item-price {
					font-family: Arial, Helvetica, sans-serif;
				}
			}
		}
	}
}

.artistItem-content {
	// .file-wrap {
	// 	display:none;
	// 	margin-bottom:20px;
	// 	padding:10px;
	// 	border:2px dashed #cccccc;
	// 	background-color:#eee;
	// 	.item-prev {
	// 		width:100%;
	// 		height:130px;
	// 		background-color:#333;
	// 		background-size:contain;
	// 		background-repeat:no-repeat;
	// 		background-position:center;
	// 		margin-bottom:10px;
	// 	}
	// }
	// #btn-clear{
	//    display:none;
	// }

	.itemimg-wrap {
		padding:10px;
		border:2px dashed #cccccc;
		background-color:#eee;

		.item-img {
			width:100%;
			height:130px;
			background-color:#333;
			background-size:contain;
			background-repeat:no-repeat;
			background-position:center;
			margin-bottom:10px;

			.overlay {
				width:100%;
				height:100%;
				background-color:rgba(0, 0, 0, 0.2);
				display:flex;
				align-items:center;
				.btn {
					margin:auto;
				}
			}
		}
	}
}

.section-6.footer {
	padding:20px 0;
	background-color:#e9a816;

	.footer-text {
		font-family: 'BernardFashion';
		color:#fff;
		text-align:center;
	}
}