.woo-app-nav, .nav-public {
	-webkit-transition: all 0.6s ease-out;
	-moz-transition: all 0.6s ease-out;
	-o-transition: all 0.6s ease-out;
	-ms-transition: all 0.6s ease-out;
	transition: all 0.6s ease-out;

	.container {
		padding-top:15px;
		padding-bottom:20px;

		.navbar-toggle > span {
			background-color:#e9a816;
		}
		.navbar-brand img {
			width:140px;
		}
		.nav > li > a, .nav > li > a {
			color: #e9a816;
			font-weight: bold;
			font-size: 2.5rem;
			font-family: 'BernardFashion';
			i {
				color: #e9a816;
			}
			span {
				font-family: 'BernardFashion';
				color: #e9a816;
			}
				
		}
		.nav > li > a:hover, .nav > li > a:focus {
		    background-color: transparent;
		    color: #333;
		    i, span {
		    	color: #333;
		    }
		}
		.dropdown-menu li a {
			font-family: 'BernardFashion';
			color: #e9a816;
			font-weight: bold;
			font-size: 1.75rem;
		}
		.dropdown-menu li a:hover, .dropdown-menu li a:focus {
			background-color: transparent;
		    color: #333;
		}
		.navbar-form {
			.input-group {
				input.form-control {
					border-radius:15px 0 0 15px;
					font-family: 'BernardFashion';
					font-size:2rem;
				}
				.btn-round {
					background-color:#e9a816;
					border-radius:0 15px 15px 0;
					.fa {
						color:#fff;
					}
				}
			}
		}
	}
}
.navbar.scrolled {
    background: #fff;
    -webkit-box-shadow: 0px 0px 8px 2px #000000;
    -moz-box-shadow: 0px 0px 8px 2px #000000;
    box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.3);
}

.card-panel {
	padding:20px;
	background-color:#fff;
	border:1px solid #e0e0e0;
	margin-bottom:20px;
}
.woo-btn {
	border-radius:2px;
	border:1px solid #e9a816;
	font-family: roboto, sans-serif;
	font-weight:normal;
	background-color: #fff;
	color:#e9a816;
	text-transform:uppercase;
	letter-spacing:1px;
}
.woo-btn:hover {
	background-color: #e9a816;
	color:#fff;
}
.footer {
	text-align:center;
	.layer {
		padding:20px 0;
	}
	.layer-1 {
		background-color:#e9a816;
		.sitemap {
			li {
				display:inline-block;
				margin:5px 10px;
				a {
					font-family: 'open-sans';
					text-decoration:none;
					color:#fff;
					font-size:1.5rem;
					font-weight:normal;

				}
			}
		}
		.social {
			display:inline-block;
			margin:5px 10px;
			li {
				cursor:pointer;
				display:inline-block;
				margin:5px 10px;
				width:50px;
				height:50px;
				border-radius:50%;
				background-color:#fff;
				position:relative;
				a {
					font-family: 'BernardFashion';
					text-decoration:none;
					color:#fff;
					i.fa {
						font-size:2rem;
						position:absolute;
						top:30%;
						left:33%;
						color:#e9a816;
					}
					i.fa-facebook {
						left:40%;
					}

				}
			}
			li:hover {
				background-color:#333;
				a i.fa {
					color:#fff;
				}
			}
		}
	}
	.layer-2 {
		background-color:#333;
		.footer-copy {
			display:block;
			font-family: Arial, Helvetica, sans-serif;
			color:#fff;
		}
	}
}

.lucida {
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

#login-modal, #artistreg-modal, #merchantreg-modal, #forgot-password-modal {

	label {
		font-size:14px;
		font-weight:normal;
		color:#333;
	}

	.modal-content {
		background-color:#f5f5f5;
		padding:8%;

		.modal-body {
			.logo-brand {
				max-width:60%;
				margin:15px auto;
			}
			.alert {
				font-weight:bold;
				font-family: roboto, sans-serif;
				ul li {
					font-weight:normal;
					font-family: roboto, sans-serif;
				}
			}
			.form-label {
				font-family: roboto, sans-serif;
				font-weight:bold;
				text-align:center;
			}
			.form-group label {
				font-size:1.75rem;
			}
			.checkbox label {
				color:inherit;
				font-size:1.75rem;
			}
			.forgot-pass a {
				text-decoration:none;
				color:inherit;
				font-size:1.75rem;
			}
		}
	}
}

.app-content {
	.section-1.head-banner {
		width: 100%;
		height: 100vh;
		margin: 0 auto;
		overflow: hidden;
		background-color:transparent;
		background-size:cover;
		background-position:center center;
		background-repeat:no-repeat;

		.video-bg {
		    z-index: -100;
		    background-color:transparent;
		    background-size:cover;
		    background-position:center center;
		    background-repeat:no-repeat;
		    object-fit: cover;
			width: 100%;
			height: 100%;
			position:absolute;
		}

		.tag-line {
			top:45%!important;
			text-align:center;
			position:absolute;
			width:100%;
			.text {
				color:#fff;
				line-height:120%;
				margin-bottom:3rem;
				font-weight:5rem;
				font-family: 'BernardFashion';
				font-weight:normal;
				text-shadow: 1px 1px 1px #333;
			}
			.action {
				.btn-action {
					background-color:#e9a816;
					color:#fff;
					border-radius:25px;
					min-width:200px;
					font-family: 'BernardFashion';
					font-weight:bold;
				}
			}
		}
	}

	.section-2.featured-artist {
		padding:50px 0;
		background-color:#fff;
		.browse-btn {
			margin-top:4rem;
			text-align:center;
		}
		.featArtist-wrap {
			margin:20px 0;

			.featArtist-carousel {
				a {
					text-decoration:none;
					.featA-item {
						width:100%;
						height:300px;
						background-color:#333;
						background-position:center;
						background-repeat:no-repeat;
						background-size:cover;
						.hoverlay {
							width:100%;
							height:100%;
							padding:10px;
							display:flex;
							align-items:flex-end;
							background-color:transparent;
							transition: background-color .25s ease;
							-webkit-transition: background-color .25s ease;
							-moz-transition: background-color .25s ease;
							.featA-name {
								color:#fff;
								font-family: 'BernardFashion';
								
								font-size:1.75rem;
								font-weight:bold;
								text-shadow: 1px 1px 1px #333 ;
							}
						}
						.hoverlay:hover {
							background-color:rgba(0, 0, 0, 0.5);
						}
					}
				}
				.slick-next {
					right:30px;
					z-index:1;
				}
				.slick-prev {
					left:30px;
					z-index:1;
				}
				.slick-prev:before, .slick-next:before {
					color:#e9a816;
				}
			}
		}
	}

	.section-3.forte {
		padding:50px 0;

		.forte-wrap {
			margin:20px 0;
			padding:30px 0 10px 0;
				a {
					text-decoration:none;
				}
				.col-wrap {
					margin-bottom:50px;
					.forte-item {
						.forte-icontainer {
							.forte-icon {
								margin:0 auto;
								max-width:50% !important;
							}
						}
						.forte-label {
						    font-family:'open-sans';   
						    font-size:1.9rem;
						    font-weight:normal;
						    color:#333;
						    text-align:center;
						    letter-spacing:1px;
						}
					}
				}
				.slick-prev:before, .slick-next:before {
					color:#e9a816;
				}
			
		}
	}

	.section-4.event {
		padding:50px 0;
		background-color:#fff;
		.browse-btn {
			margin-top:4rem;
			text-align:center;
		}
		.event-wrap {
			margin:20px 0;

			.event-carousel {
				a {
					text-decoration:none;
					.event-item {
						width:100%;
						height:250px;
						background-color:#333;
						background-position:center;
						background-repeat:no-repeat;
						background-size:cover;
						.hoverlay {
							color:#fff;
							width:100%;
							height:100%;
							padding:10px;
							display:flex;
							align-items:flex-end;
							background-color:transparent;
							transition: background-color .25s ease;
							-webkit-transition: background-color .25s ease;
							-moz-transition: background-color .25s ease;
							
							.event-details {
								.date {
									color:#fff;
									font-weight:bold;
									font-size:1.75rem;
								}
								.name {
									color:#fff;
									font-family: 'open-sans';
									font-weight:normal;
									font-size:1.4rem;
								}
							}
						}
						.hoverlay:hover {
							background-color:rgba(0, 0, 0, 0.5);
						}
					}
				}
				.slick-next {
					right:30px;
					z-index:1;
				}
				.slick-prev {
					left:30px;
					z-index:1;
				}
				.slick-prev:before, .slick-next:before {
					color:#e9a816;
				}
			}
		}
	}

	.section.merchandise {
		padding:50px 0;
		.browse-btn {
			margin-top:4rem;
			text-align:center;
		}
		.merchandise-wrap {
			.merchandise-carousel {
				a {
					text-decoration:none;
					color:inherit;

					.merchandise-item {
						width:100%;
						border-top: 1px solid #c9c9c9;
						border-right: 1px solid #c9c9c9;
						border-bottom:5px solid #e9a816;
						border-left: 1px solid #c9c9c9;
						.item-img {
							width:100%;
							height:250px;
							background-color:#c9c9c9;
							background-repeat:no-repeat;
							background-position:center;
							background-size:contain;
						}
						.item-info {
							padding:10px;
							text-align:center;
							background-color:#fff;
							.item-name {
								font-family: 'open-sans';
								font-weight:normal;
								font-size:1.4rem;
							}
							.item-price {
								font-family: 'open-sans';
								font-weight:bold;
								font-size:1.6rem;
							}
						}
					}
				}
				.slick-next {
					right:30px;
					z-index:1;
				}
				.slick-prev {
					left:30px;
					z-index:1;
				}
				.slick-prev:before, .slick-next:before {
					color:#e9a816;
				}
			}

		}
	}

	.section-2.featured-merchant {
		padding:50px 0;
		background-color:#fff;
		.browse-btn {
			margin-top:4rem;
			text-align:center;
		}
		.featMerchant-wrap {
			margin:20px 0;

			.featMerchant-carousel {
				a {
					text-decoration:none;
					.featA-item {
						width:100%;
						height:300px;
						background-color:#333;
						background-position:center;
						background-repeat:no-repeat;
						background-size:cover;
						.hoverlay {
							width:100%;
							height:100%;
							padding:10px;
							display:flex;
							align-items:flex-end;
							background-color:transparent;
							transition: background-color .25s ease;
							-webkit-transition: background-color .25s ease;
							-moz-transition: background-color .25s ease;
							.featA-name {
								color:#fff;
								font-family: 'BernardFashion';
								
								font-size:1.75rem;
								font-weight:bold;
								text-shadow: 1px 1px 1px #333 ;
							}
						}
						.hoverlay:hover {
							background-color:rgba(0, 0, 0, 0.5);
						}
					}
				}
				.slick-next {
					right:30px;
					z-index:1;
				}
				.slick-prev {
					left:30px;
					z-index:1;
				}
				.slick-prev:before, .slick-next:before {
					color:#e9a816;
				}
			}
		}
	}

	.section-5.review {
		padding:50px 0;
		background-color:#fff;

		.review-wrap {
			margin:20px 0;

			.review-carousel {
				.review-item {
					.media-object {
						height:70px;
						width:70px;
						object-fit:cover;
						object-position:center;
					}
					.media-body {
						.card-panel {
							padding:20px;
							margin-bottom:15px;
							background-color:#eee;
							font-family:'open-sans';
							letter-spacing:1px;
							font-weight:normal;
							font-size:1.4rem;
							border-radius:20px;
							.fa-quote-left {
								color:#e9a816;
							}
							.read-more, .view-less {
								color:#669AC6;
								cursor:pointer;
							}
						}
						.media-heading {
							font-family: 'open-sans';
							.name {
								color:#e9a816;
								font-style:italic;
								font-weight:normal;
								font-size:1.5rem;
							}
							.date {
								font-size:1.5rem;
								color:#444;
							}
						}
					}
				}
				.slick-prev:before, .slick-next:before {
					color:#e9a816;
				}
			}
		}
	}

	.section-6.socialmedia {
		padding:50px 0;
		background-color:white;
		h3 {
			font-family:'open-sans';
			font-size:2rem;
			color:#333;
			font-weight:bold;
		}
	}
}

.artist-content {
	.section-1.profile-cover {
		height:75vh;
		background-color:transparent;
		background-position:center;
		background-size:cover;
		background-repeat:no-repeat;
		overflow:hidden;

		.overlay {
			display:flex;
			align-items:center;
			height:100%;
			padding:120px 0 50px 0;
			
			.dp-container {
				height:200px;
				width:200px;
				margin:0 auto;
				.dp {
					border-radius:50%;
					height:100%;
					width:100%;
					background-repeat:no-repeat;
					background-size:cover;
					background-position:center;
					border:5px solid #c9c9c9;
				}
			}
			.social-action {
				margin:40px 0;
				text-align:center;
				.fa-facebook { color:#fff; }
				.fa-star { color:#FFC80B;}
				.fa-heart { color:#F9583B; }
				.fb_iframe_widget {
				    display: inline;
				    position: relative;
				    top: -7px;
				    left: -20px;
				}
			}
		}
	}
	.section-2.basic-info {
		padding:50px 0;
		background-color:#fff;

		.woo-btn {
			background-color:transparent;
			border-radius:20px;
			border:1px solid #e9a816;
			color:#e9a816;
			outline:none;
		}
		.woo-btn:hover {
			background-color:#e9a816;
			color:#fff;
		}

		.name-skill {
			text-align:center;
			margin-bottom:40px;
			.name {
				font-size:4rem;
				font-weight:normal;
				font-family:'bernadette';
			}
			.skill-city {
				font-family: roboto, sans-serif;
				font-weight:normal;
				color:#555;
				font-size:1.5rem;
				letter-spacing:1px;
			}
		}

		.line-divider {
			margin:30px 0;
		}

		.pricelist, .booking {
			display:none;
			font-family: roboto, sans-serif;
			h3{
				font-family: roboto, sans-serif;
				font-weight:normal;
				color:#888;
				font-size:1.4rem;
				letter-spacing:1px;
			}
			.title {
				font-family: roboto, sans-serif;
				font-weight:normal;
			}
		}

		.booking {
			display:none;
			.title {
				font-family: 'BernardFashion';
				font-weight:bold;
				font-size:2.5rem;
				color:#333;
			}
			.woobook-submit {
				color:#e9a816;
				i {
					color:#e9a816;
				}
			}
			.woobook-submit:hover {
				color:#fff;
				i {
					color:#fff;
				}
			}
		}

		.about-artist {
			h3{
				font-family: roboto, sans-serif;
				font-weight:normal;
				color:#888;
				font-size:1.4rem;
				letter-spacing:1px;
			}
			.title {
				font-size:3rem;
				font-weight:bold;
				font-family:'BernardFashion';
			}
			.about-artist-text {
				font-family: roboto, sans-serif;
				font-weight:normal;
				color:#888;
				font-size:1.4rem;
				letter-spacing:1px;
			}
		}
		.affiliation-artist {
			h3{
				font-family: roboto, sans-serif;
				font-weight:normal;
				color:#888;
				font-size:1.4rem;
				letter-spacing:1px;
			}
			.title {
				font-size:3rem;
				font-weight:bold;
				font-family: 'BernardFashion';
			}
			.affiliation-list > li {
				font-family: roboto, sans-serif;
				font-size: 1.5rem;
				margin-bottom:15px;
				color:#666;
			}
			.about-affiliation-text {
				font-family: roboto, sans-serif;
				font-weight:normal;
				color:#888;
				font-size:1.4rem;
				letter-spacing:1px;
			}
		}
	}

	.section-3.photos-updates {
		padding:50px 0;
		.title {
			font-family: 'BernardFashion';
			font-weight:bold;
			font-size:3rem;
		}
		.subsection.main-side {
			.artistPhoto-wrap {
				padding:0 40px;
				margin-bottom:40px;
				.sub-title {
					font-family: 'open-sans';
					font-weight:normal;
					color:#888;
					font-size:1.4rem;
					letter-spacing:1px;
				}
				.artistPhoto-carousel {
					a {
						text-decoration:none;
						.artistPhoto-item {
							width:100%;
							height:230px;
							background-color:#333;
							background-position:center;
							background-repeat:no-repeat;
							background-size:cover;
							.hoverlay {
								display:flex;
								align-items:flex-end;
								width:100%;
								height:100%;
								padding:10px;
								background-color:transparent;
								transition: background-color .25s ease;
								-webkit-transition: background-color .25s ease;
								-moz-transition: background-color .25s ease;
								.photo-caption {
									color:#fff;
									font-family: 'BernardFashion';
									
									font-size:1.75rem;
									font-weight:bold;
									text-shadow: 1px 1px 1px #333 ;
								}
							}
							.hoverlay:hover {
								background-color:rgba(0, 0, 0, 0.5);
							}
						}
					}
					.slick-prev:before, .slick-next:before {
						color:#e9a816;
					}
				}
			}
			.portfolio {
				background-color:#fff;
				padding:30px;
				margin-bottom:40px;
				.title {
					font-family: 'BernardFashion';
					margin-bottom: 10px;
					font-weight:bold;
					font-size:3rem;
				}
				.sub-title {
					font-family: 'BernardFashion';
					margin-bottom: 10px;
					font-size:1.5rem;
					font-weight:bold;
				}
				.album {
					h3{
						font-family: roboto, sans-serif;
					    font-weight: normal;
					    color: #888;
					    font-size: 1.4rem;
					    letter-spacing: 1px;
					}
					.album-gallery {
						margin-bottom:20px;

						.album-title {
							font-family: 'BernardFashion';
							font-size:2rem;
							font-weight:bold;
						}
						.albumPhoto-carousel {
							a {
								text-decoration:none;

								.album-item {
									width:100%;
									height:200px;
									background-repeat:no-repeat;
									background-position:center;
									background-size:cover;
									background-color:#eee;

									margin-bottom:5px;

									.hoverlay {
										width:100%;
										height:100%;
										padding:10px;
										display:flex;
										align-items:flex-end;
										background-color:transparent;
										transition: background-color .25s ease;
										-webkit-transition: background-color .25s ease;
										-moz-transition: background-color .25s ease;

										.album-title {
											color:#fff;
											font-family: 'BernardFashion';
											
											font-size:1.75rem;
											font-weight:bold;
											text-shadow: 1px 1px 1px #333 ;
										}
									}
									.hoverlay:hover {
										background-color:rgba(0, 0, 0, 0.5);
									}

								}
							}
							.slick-prev:before, .slick-next:before {
								color:#e9a816;
							}
						}
					}
				}
				.video {
					h3{
						font-family: roboto, sans-serif;
					    font-weight: normal;
					    color: #888;
					    font-size: 1.4rem;
					    letter-spacing: 1px;
					}
					.video-item {
						margin-bottom:10px;
						iframe.vid {
							width:100%;
							height:250px;
						}
						figure.vid {
							width:100%;
							height:250px;

							background-color:#000;
							background-size:cover;
							background-position:center;
							background-repeat:no-repeat;
							display:flex;
							align-items:center;
							padding:20px;
							a {
								margin:0 auto;
								i {
									color:#CC181E;
								}
							}
						}
					}
				}
			}
			.event {
				h3{
					font-family: roboto, sans-serif;
				    font-weight: normal;
				    color: #888;
				    font-size: 1.4rem;
				    letter-spacing: 1px;
				}
				background-color:#fff;
				padding:30px;
				margin-bottom:40px;

				.title {
					font-family: 'BernardFashion';
					font-weight:bold;
					margin-bottom:10px;
					font-size:3rem;
				}

				.event-wrap {
					a {
						text-decoration:none;
						.event-item {
							width:100%;
							height:200px;
							background-color:#333;
							background-repeat:no-repeat;
							background-position:center;
							background-size:cover;

							margin-bottom:5px;

							.hoverlay {
								width:100%;
								height:100%;
								display:flex;
								align-items:flex-end;
								padding:10px;
								background-color:transparent;
								transition: background-color .25s ease;
								-webkit-transition: background-color .25s ease;
								-moz-transition: background-color .25s ease;
								.event-title {
									color:#fff;
									font-family: 'BernardFashion';
									
									font-size:1.75rem;
									font-weight:bold;
									text-shadow: 1px 1px 1px #333 ;
								}
							}
							.hoverlay:hover {
								background-color:rgba(0, 0, 0, 0.5);
							}
						}
					}

				}
			}
			.artist-review {
				h3{
					font-family: 'open-sans';
				    font-weight: normal;
				    color: #888;
				    font-size: 1.4rem;
				    letter-spacing: 1px;
				}
				padding:10px 30px;
				margin-bottom:40px;

				.title {
					font-family: 'BernardFashion';
					font-weight:bold;
					text-align:center;
					margin-bottom:10px;
					font-size:3rem;
				}
				.review-wrap {
					.review-item {
						margin-bottom:20px;
						.media-object {
							height:50px;
							width:50px;
							object-fit:cover;
							object-position:center;
						}
						.media-body {
							.card-panel {
								h4 {
								    font-size: 15px;
								    font-family: 'open-sans';
								    font-weight: bold;
								}
								padding: 20px;
							    margin-bottom: 15px;
							    background-color: #fff;
							    font-family: 'open-sans';
							    font-weight: normal;
							    font-size: 1.3rem;
							    border-radius: 20px;
							    color: #333;
								.fa-quote-left {
									color:#e9a816;
								}
							}
							.date {
								font-family: Arial, Helvetica, sans-serif;
								font-size:1.5rem;
							}
						}
					}
				}
			}
		}
		.subsection.small-side {
			.updates.card-panel {
				background-color: #fff;
				padding:20px;
				margin-bottom:40px;
				border:1px solid #eee !important;
				.card-title {
				    font-weight: bold;
				    color: #e9a816;
				    font-size: 2rem;
				    float:left;
				    margin-bottom:10px;
				}
				p {
				    font-family: "open-sans";
				    font-size: 1.4rem;
				    font-weight: normal;
				    letter-spacing: 1px;
				    color: #333;
				}
			}
			.ad-space {
				img {
					width:100%;
					height:420px !important;
					margin-top:20px;
				}
			}
		}
	}

	.section-6.footer {
		padding:20px 0;
		background-color:#e9a816;

		.footer-text {
			font-family: 'open-sans';
			color:#fff;
			text-align:center;
		}
	}

	.section-modal {
		#viewEvent {
			h2 {
				font-weight:bold;
				color:#e9a816;
			}
			h5, span, p {
				font-family:helvetica !important;
			}
		}
	}

}

.artistReview-content {
	min-height:100vh;
	background-color:#eee;

	.section.review-artist{
		margin:50px 0;
		background-color:#fff;

		.artist-cover {
			background-color:#333;
			background-size:cover;
			background-position:center;
			background-repeat:no-repeat;
			.overlay {
				padding:50px 0;
				.avatar {
					height:150px;
					width:150px;
					margin:0 auto;
					border: 5px solid #c9c9c9;
					border-radius:50%;
					background-size:cover;
					background-position:center;
					background-repeat:no-repeat;
					background-color:#c9c9c9;
				}
				.info {
					text-align:center;
					margin-top:10px;
					.name {
						color:#fff;
						font-size: 'BernardFashion';
						font-size:4rem;
						font-weight:bold;
					}
					.forte {
						color:#fff;
						font-size:2.5rem;
					}
				}
			}
		}
		.review-head {
			padding:20px;
			text-align:center;
			.page-title {
				font-size:2.5rem;
				font-family: Arial, Helvetica, sans-serif;
			}
		}
		.card-panel.review {
			.page-text {
				text-align:center;
			}
			.page-text, label {
				font-family: 'open-sans';
			}
			.form-wrapper {
				margin:40px 0;
			}

		}
	}

}

.artistlist-content {
	margin-top:90px;

	#toggle-show-search {
		position:fixed;
		left:0;
		background-color:white;
		padding:10px;
		z-index:2;
		top:150px;
		display:none;
		i {
			color:#E9A816;
			font-size:20px;
		}
	}

	#toggle-close-search {
		display:none;
		width:100%;
	}

	@media screen and (max-width: 992px) {
		#toggle-show-search {
			display:block;
		}
		.search-header {
			display:none;
			top:85px !important;
		}

		.artistlist-container {
			margin-top:105px !important;
		}

		#toggle-close-search {
			display:block;
		}

	}

	@media screen and (min-width: 992px) {
		#toggle-show-search {
			display:none !important;
		}

		#toggle-hide-search {
			display:none !important;
		}		
		.search-header {
			display:block !important;
			top:90px !important;
		}

	}	



	.search-header {
		position:fixed;
		z-index:1;
		background-color:white;
		padding:20px;
		border-bottom:1px solid #E9A816;
		width:100%;
		top:90px;

		.btn-group.bootstrap-select.show-tick.form-control {
		   	margin:0;
		}

		.btn-group.bootstrap-select.show-tick.form-control .select-dropdown {
		    height: 35px;
		    padding:0 10px;
		    span {font-size:15px;}
		}
		.form-group {margin:10px 0}

		.filter-search{
			padding:0;
			.no-padding, .no-padding, .no-padding {
				padding:0;
			}
		}
	}

	.artistlist-container {
		margin-top:200px;
		min-height:450px;
		.artists-wrap {
			.artist-item {
				background-color:#fff;
				border-top: 1px solid #e0e0e0;
				border-right: 1px solid #e0e0e0;
				border-bottom:5px solid #e9a816;
				border-left: 1px solid #e0e0e0;
				margin-bottom:20px;
				min-height:330px;
				max-height:330px;
				.avatar-cover {
					background-position:center;
					background-repeat:no-repeat;
					background-size:cover;
					.overlay {
						padding:20px;
						background-color:rgba(0, 0, 0, 0.3);
						.artist-avatar {
							height:11rem;
							width:11rem;
							margin:auto;
							border:3px solid #e9a816;
							border-radius:50%;
							background-position:center;
							background-repeat:no-repeat;
							background-size:cover;
							background-color:#fff;
						}
					}
				}
				.info {
					padding:10px 15px;
					text-align:center;
					.artist-name {
					    font-family: 'open-sans';
					    font-weight: bold;
					    font-size: 1.6rem;
					    color: #000;
					    height: 35px;
					}
					.forte, .address {
						font-family: roboto, sans-serif;
						font-weight:normal;
						letter-spacing:1px;
						font-size:14px;
					}
					.forte{
						font-family: roboto,sans-serif;
					    font-weight: 400;
					    letter-spacing: 1px;
					    font-size: 14px;
					    height:30px;
					}
				}
			}
			.pagination {
				li a {
					color:#e9a816!important;
				}
				li.active a {
					background-color:#e9a816!important;
					border-color:#e9a816!important;
					color:#fff!important;
				}
			}
		}
	}
}

.event-content {
	margin-top:125px;

	.single-event {
		.card-panel {
			.event-head {
				border-bottom:1px solid #e0e0e0;
				margin-bottom:20px;
				.event-title {
					font-family: 'bernadette';
				    font-weight: normal;
				    line-height: 150%;
				    color: #666;
				}
			}
			.poster-wrap {
				width:100%;
				background-color:#ccc;
				margin-bottom:15px;
				img.poster {
					margin:0 auto;
					height:350px;
					width:100%;
					object-fit:cover;
					object-position:center;
				}
			}
			.event-details {
				text-align:center;
				.title {
				    font-weight: normal;
				    font-family: 'open-sans';
				    font-size:1.4rem;
				    color:#333;
				}
				.datetime {
					font-family: Arial, Helvetica, sans-serif;
					font-weight:bold;
				}
			}
			.card-head {
				border-bottom:1px solid #e0e0e0;
				margin-bottom:20px;
				.desc-label, .ticket-label {
					font-weight: bold;
					font-size:1.5rem;
					font-family:'open-sans';
					color:black !important;
				}
			}
			.event-description p {
				font-family: 'open-sans';
				font-size:1.5rem;
				color:#333;
				letter-spacing: 1px;
				font-weight:normal;
			}
		}
	}

	.suggested-events {
		.events-head {
			border-bottom:1px solid #e0e0e0;
			margin-bottom:20px;
			.label-title {
				font-family: 'open-sans';
				font-weight:bold;
				line-height:150%;
				font-size:1.5rem;
			}
		}
		.events-wrap {
			.event-item {
				margin-bottom:20px;
				a {
					text-decoration:none;
					figure.event-poster {
						height:250px;
						background-size:cover;
						background-position: center top;
						background-repeat:no-repeat;
						background-color:#ccc;

						.hoverlay {
							padding:20px;
							height:100%;
							display:flex;
							align-items:flex-end;
							background-color:transparent;
							transition: background-color .25s ease;
							-webkit-transition: background-color .25s ease;
							-moz-transition: background-color .25s ease;
						
							.event-name {
								font-family: 'open-sans';
								font-weight:bold;
							}
						}
						.hoverlay:hover {
							background-color:rgba(0,0,0,0.5);
						}
					}
				}
			}
		}
	}
}

.eventlist-content {
	margin-top:125px;

	.eventlist-container {
		.aside {
			.filters {
				li a {
					color:inherit;
				}
				ul.filters_dp {
					padding-left:10px;
					border-left:1px solid #eee;
				}
			}
		}
		.event-wrap {
			.event-item {
				margin-bottom:20px;
				a {
					text-decoration:none;
					figure.event-poster {
						height:250px;
						background-size:cover;
						background-position:center top;
						background-repeat:no-repeat;
						background-color:#ccc;

						.hoverlay {
							height:100%;
							padding:10px;
							display:flex;
							align-items:flex-end;
							background-color:transparent;
							transition: background-color .25s ease;
							-webkit-transition: background-color .25s ease;
							-moz-transition: background-color .25s ease;
							.event-name {
								color:#fff;
								font-family: 'open-sans';
								
								font-size:1.5rem;
								font-weight:bold;
								text-shadow: 1px 1px 1px #333 ;
							}
						}
						.hoverlay:hover {
							background-color:rgba(0,0,0,0.5);
						}
					}
				}
			}
			.pagination {
				li a {
					color:#e9a816!important;
				}
				li.active a {
					background-color:#e9a816!important;
					border-color:#e9a816!important;
					color:#fff!important;
				}
			}
		}
	}
}

.itemlist-content {
	margin-top:90px;

	#toggle-show-search {
		position:fixed;
		left:0;
		background-color:white;
		padding:10px;
		z-index:2;
		top:150px;
		display:none;
		i {
			color:#E9A816;
			font-size:20px;
		}
	}

	#toggle-close-search {
		display:none;
		width:100%;
	}


	@media screen and (max-width: 992px) {
		#toggle-show-search {
			display:block;
		}
		.search-header {
			display:none;
			top:85px !important;
		}

		.itemlist-container {
			margin-top:105px !important;
		}

		#toggle-close-search {
			display:block;
		}

	}

	@media screen and (min-width: 992px) {
		#toggle-show-search {
			display:none !important;
		}

		#toggle-hide-search {
			display:none !important;
		}		
		.search-header {
			display:block !important;
			top:90px !important;
		}

	}	



	.search-header {
		position:fixed;
		z-index:1;
		background-color:white;
		padding:20px;
		border-bottom:1px solid #E9A816;
		width:100%;
		top:90px;

		.form-group {margin:10px 0}

		.filter-search{
			padding:0;
			.price, .order, .filter {
				padding:0;
			}
		}
	}

	.itemlist-container {
		margin-top:200px;
		.items-wrap {
			.merchandise-item {
				width:100%;
				border-top: 1px solid #e0e0e0;
				border-right: 1px solid #e0e0e0;
				border-bottom:5px solid #e9a816;
				border-left: 1px solid #e0e0e0;
				margin-bottom:20px;

				.item-img {
					width:100%;
					height:200px;
					background-color:#c9c9c9;
					background-repeat:no-repeat;
					background-position:center;
					background-size:contain;
				}
				.item-info {
					padding:10px;
					text-align:center;
					background-color:#fff;
					.item-name {
						font-family: 'open-sans';
						font-weight:bold;
						font-size:1.5rem;
						height:30px;
					}
					.item-price {
						font-family: Arial, Helvetica, sans-serif;
					}
					.btn {
						margin-top:5px;
					}
				}
			}
			.pagination {
				li a {
					color:#e9a816!important;
				}
				li.active a {
					background-color:#e9a816!important;
					border-color:#e9a816!important;
					color:#fff!important;
				}
			}
		}
	}
}

.appTerms-content {
	margin-top:125px;
	margin-bottom:30px;
	.page-head {
		font-family:'RobotoDraft',arial,sans-serif;
		font-weight:bold;
		color:#404040;
	}
	hr {
		border-color:#d7d7d7;
	}
	.sidebar {
		padding:0px;
		nav ul {
			padding:0;
			margin:0;
		}
		nav ul li {
			list-style:none;
			padding:5px;
			margin-bottom:5px;
			width:270px;
			font-size:14px;
			border-bottom:1px solid #eee;
		}
		nav ul li a {
			font-family:'RobotoDraft',arial,sans-serif;
			text-decoration:none;
			display:block;
			color:inherit;
		}
		nav ul li:hover {
			// background-color:#eee;
			border-left:4px solid #e9a816;
		}
	}

	.article {
		margin-bottom:10px;
		ul li {	
			font-family:'RobotoDraft',arial,sans-serif;
			color:#757575;
			line-height:200%;
		}

		.title {
			font-family:'RobotoDraft',arial,sans-serif;
			font-weight:bold;
		}

		.subtitle {
			font-family:'RobotoDraft',arial,sans-serif;
			font-weight:bold;
			color:#696a6b;
			font-size:1.7rem;			
		}
		.text {
			font-family:'RobotoDraft', sans-serif;
			line-height:200%;
			font-size:1.5rem;
			color:#757575;
		}



	}

	.content-right {
		border-left:2px solid #ddd;
		padding-left:30px;
		.article:last-child{
			margin-bottom:80px;
		}
	}
}

@media screen and (max-width: 991px) {
 	.content-right {
 		border:none !important;
 		padding:0px !important;
		.article:last-child{
			margin-bottom:30px;
		} 		
 	}

 	.sidebar {display:none;}
}

.appContact-content {
	margin-top:125px;
	.contact-text {
		font-family:'RobotoDraft',arial,sans-serif;
		font-size:1.6rem;
		margin:0 0 10px 0;
		line-height:1.5;
		font-weight:bold;
	}
	.contact-wrap {
		padding-bottom:30px;
		.page-head {
			font-family:'RobotoDraft',arial,sans-serif;
			font-weight:bold;
			color:#404040;
		}
		hr {
			border-color:#d7d7d7;
		}
		.title {
			font-family:"BernardFashion";
			font-weight:bold;
			color:#e9a816;
			font-size:3rem;
		}
		.text {
			font-family:'RobotoDraft',arial,sans-serif;
			line-height:200%;
			font-size:1.5rem;
			color:#757575;
		}
		.contact-info {

			ul li {
				font-family:'RobotoDraft',arial,sans-serif;
				color:#757575;
				list-style:none;
				margin-bottom:20px;
			}
			ul li i {
				padding-right:10px;
				color:#e9a816;
			}
			.map-wrap {
				margin:40px 0;
				figure.map {
					height:257px;
					border:5px solid rgba(51, 51, 51, 0.5);
					margin:0 auto;
				}
			}	
		}
		.contact-form {
			.textarea {
				height:170px;
				resize:none;
			}	
		}
	}

}

.appAbout-content {
	margin-top:125px;
	margin-bottom:50px;
	.page-head {
		font-family:'RobotoDraft',arial,sans-serif;
		font-weight:bold;
		color:#404040;
	}
	.articles {
		.article {
			margin-bottom:10px;
			.title {
				font-family:"BernardFashion";
				font-weight:bold;
				color:#e9a816;
				font-size:3rem;			
			}
			.text {
				font-family:'RobotoDraft',arial,sans-serif;
				line-height:200%;
				font-size:1.5rem;
				color:#757575;
				letter-spacing:1px;
			}

			.img-wrap {
				img {
					margin-top:20px;
				}
			}

			.text-wrap {

			}

			.author {

			}
		}
	}

	.the-team {
		.title {
			font-family:"BernardFashion";
			font-weight:bold;
			color:#e9a816;
			font-size:3rem;			
		}
	}
	.figures {
		width:auto;
		margin-top:20px;
		.figure1 {
		    height: 190px;
		    width: 190px;
		    background-size: cover;
		    background-position: top center;
		    background-repeat: no-repeat;
		    border-radius: 100%;
		    border: 10px solid white;
		    position: relative;
		}
		.figure2 {
		    height: 220px;
		    width: 220px;
		    background-size: cover;
		    background-position: top center;
		    background-repeat: no-repeat;
		    border-radius: 100%;
		    border: 10px solid white;
		    margin-top: -109px;
		    margin-left: 127px;
		    position: relative;	
		}
		.figure3 {
			height: 225px;
		    width: 225px;
		    background-size: cover;
		    background-position: top center;
		    background-repeat: no-repeat;
		    border-radius: 100%;
		    border: 10px solid white;
		    margin-top: -143px;
		    margin-left: -53px;
		    position: relative;			
		}
		.figure4 {
		    height: 210px;
		    width: 210px;
		    background-size: cover;
		    background-position: top center;
		    background-repeat: no-repeat;
		    border-radius: 100%;
		    border: 10px solid white;
		    margin-top: -114px;
		    margin-left: 102px;
		    position: relative;
		}
	}
}

.appFaq-content {
	margin-top:125px;
	margin-bottom:30px;
	.page-head {
		font-family:'RobotoDraft',arial,sans-serif;
		font-weight:bold;
		color:#404040;
	}
	hr {
		border-color:#d7d7d7;
	}
	.sidebar {
		padding:0px;
		background-color:white;
		nav ul {
			padding:0;
			margin:0;
		}
		nav ul li {
			list-style:none;
			padding:5px;
			margin-bottom:5px;
			width:270px;
			font-size:14px;
			border-bottom:1px solid #eee;
		}
		nav ul li a {
			font-family:'RobotoDraft',arial,sans-serif;
			text-decoration:none;
			display:block;
			color:inherit;
		}
		nav ul li:hover {
			// background-color:#eee;
			border-left:4px solid #e9a816;
		}
	}


		h1 {
			font-family:'bernadette';
			color:#e9a816;
			font-weight:normal;
		}
		
	.article {
		margin-bottom:10px;


		ul li {	
			font-family:'RobotoDraft',arial,sans-serif;
			color:#757575;
			line-height:200%;
		}

		.title {
			font-family:'RobotoDraft',arial,sans-serif;
			font-weight:bold;
			font-size:22px;
		}

		.subtitle {
			font-family:'RobotoDraft',arial,sans-serif;
			font-weight:bold;
			color:#696a6b;
			font-size:1.7rem;			
		}
		.text {
			font-family:'RobotoDraft', sans-serif;
			line-height:200%;
			font-size:1.5rem;
			color:#757575;
		}



	}

	.content-right {
		border-left:2px solid #ddd;
		padding-left:30px;
		.article:last-child{
			margin-bottom:80px;
		}
	}
}


.adminLogin-content {
	.section-admin {
		.admin-login {
			padding:10% 0;
			.brand-img {
				margin:auto;
				width:75%;
			}
			.panel {
				border-radius:2px;
				.panel-heading {
					border-radius:2px 2px 0 0;
					text-align:center;
					font-family: 'BernardFashion';
					font-size:2rem;
					font-weight:bold;
				}
				.panel-body {
					padding:20px 30px;
				}
			}
		}
	}
}


.appSearch-content {
	margin-top:90px;
	margin-bottom:30px;

	#search-panel {
		display:table;
		width:100%;
		vertical-align: middle;
		height:200px;
		background-color:#e9a816;

		.header-text {
			text-align:center;
			color:white;
			font-weight:bold;
			margin:0;
			i{
				color:white;
			}
		}

		.search-wrap {
			height:100%;
			display:table;
			padding:0;
			height:300px;
			margin:auto;
			.search {
				border:none;
				display:table-cell;
				vertical-align: middle;
				#search {
					border:none !important;
					outline:none;
					border-radius:0 !important;
				}
				.search-btn {
					border:2px solid white;
					background:transparent;
					color:white;
					font-weight:bold;
					text-transform:uppercase;
					border-radius:0 !important;
					outline:0;
					i {color:white !important;}
				}	
			}
		}
	}

	#search-result {
		.tab-content {
			padding:40px 0;
			#artist-panel {
				.artist-item-wrap{
					border-bottom:1px solid #ddd;
					padding:20px 0;
					.figure-wrap {
						padding:0;
						figure{
							height:150px;
							width:100%;
							background:#ccc;
							background-size:cover;
							background-position:center;
						}
					}
					.info-wrap{
						font-family:'open-sans';

						.btn-view {
							outline:0;
						}

						hr {
							margin:10px 0;
						}

						.name {
							color:#e9a816;
							font-size:1.8rem;
							font-weight:bold;
							margin-top:0;
						}
						.details{
							color:#333;
							font-size:1.4rem;
							letter-spacing:1px;
						}
					}
				}
			}

			#event-panel {
				.event-item-wrap{
					border-bottom:1px solid #ddd;
					padding:20px 0;
					.figure-wrap {
						padding:0;
						figure{
							height:150px;
							width:100%;
							background:#ccc;
							background-size:cover;
							background-position:center;
						}
					}
					.info-wrap{
						font-family:'open-sans';

						.btn-view {
							outline:0;
						}

						hr {
							margin:10px 0;
						}


						.name {
							color:#e9a816;
							font-size:1.8rem;
							font-weight:bold;
							margin-top:0;
						}
						.details{
							color:#333;
							font-size:1.4rem;
							letter-spacing:1px;
						}
					}
				}
			}	

			#merchandise-panel {
				.merchandise-item-wrap{
					border-bottom:1px solid #ddd;
					padding:20px 0;
					.figure-wrap {
						padding:0;
						figure{
							height:150px;
							width:100%;
							background:#ccc;
							background-size:cover;
							background-position:center;
						}
					}
					.info-wrap{
						font-family:'open-sans';

						.btn-view {
							outline:0;
						}
						
						hr {
							margin:10px 0;
						}

						.name {
							color:#e9a816;
							font-size:1.8rem;
							font-weight:bold;
							margin-top:0;
						}
						.details{
							color:#333;
							font-size:1.4rem;
							letter-spacing:1px;
						}
					}
				}
			}	

			#merchant-panel {
				.merchant-item-wrap{
					border-bottom:1px solid #ddd;
					padding:20px 0;
					.figure-wrap {
						padding:0;
						figure{
							height:150px;
							width:100%;
							background:#ccc;
							background-size:cover;
							background-position:center;
						}
					}
					.info-wrap{
						font-family:'open-sans';

						.btn-view {
							outline:0;
						}

						hr {
							margin:10px 0;
						}

						.name {
							color:#e9a816;
							font-size:1.8rem;
							font-weight:bold;
							margin-top:0;
						}
						.details{
							color:#333;
							font-size:1.4rem;
							letter-spacing:1px;
						}
					}
				}
			}

		}
	}

}

