#wrapper {
	margin-top:60px;
}

.woo-app-nav {
	height:60px !important;
	background-color:#e9a816;
	margin-bottom:0;
	.container, .container-fluid {
		padding-top:5px;
		padding-bottom:5px;
		.navbar-toggle > span {
			background-color:#fff;
		}
		.navbar-brand {
			margin:0 auto;
			img {
				width:120px;
			}
		}
		.nav > li > a {
			i, span {
				color: #fff;
				font-size: 1.5rem;
			}
		}
		.nav > li > a:hover, .nav > li > a:focus {
		    background-color: transparent;
		    color: #333;
		}
		.dropdown-menu {
			background-color:#e9a816;
			li a {
				color: #fff;
				font-size: 1.5rem;
			}
			li a:hover, .dropdown-menu li a:focus {
				background-color: #FFE0C4;
				color:#333;
			}
		}
	}
}

.section {
	margin-bottom:10px;
}
.card-panel {
	padding:20px;
	background-color:#fff;
	border:1px solid #e0e0e0;
	margin-bottom:10px;
}

.merchantDashboard-content {
	.section-cover {
		background-color:#e0e0e0;
		background-size:cover;
		background-position:center;
		background-repeat:no-repeat;
		.overlay {
			height:100%;
			padding:50px;
			.dp-wrap {
				margin:0 auto;
				width:200px;
				height:200px;
				.dp {
					border-radius: 50%;
				    height: 100%;
				    width: 100%;
				    background-repeat: no-repeat;
				    background-size: cover;
				    background-position: 50%;
				    border: 5px solid #c9c9c9;
				    background-color:#e0e0e0;
				}
			}
			.info {
				text-align:center;
				h1 {
					font-family: 'BernardFashion';
					font-weight:bold;
					color:#f2f2f2;
					text-shadow:-1px 1px 1px #333;
				}
			}
		}
	}
}

.merchantItems-content {
	.section-cover {
		background-color:#e0e0e0;
		background-size:cover;
		background-position:center;
		background-repeat:no-repeat;
		.overlay {
			height:100%;
			padding:50px;
			.dp-wrap {
				margin:0 auto;
				width:200px;
				height:200px;
				.dp {
					border-radius: 50%;
				    height: 100%;
				    width: 100%;
				    background-repeat: no-repeat;
				    background-size: cover;
				    background-position: 50%;
				    border: 5px solid #c9c9c9;
				    background-color:#e0e0e0;
				}
			}
			.info {
				text-align:center;
				h1 {
					font-family: 'BernardFashion';
					font-weight:bold;
					color:#f2f2f2;
					text-shadow:-1px 1px 1px #333;
				}
			}
		}
	}

	.section-tabmenu {
		.nav {
			ul {
				padding:0;
				margin:0;
				height:auto;
				li {
					list-style:none;
					display:inline-block;
					cursor:pointer;
					margin-right:2px;
					font-weight:bold;
					margin-left:10px;
					font-size:1.5rem;
					text-align:center;
					a {
						text-decoration:none;
						color:inherit;
					}
				}
				li:hover {
					border-bottom:1px solid #e9a816;
					color:#e9a816;
				}
			}
		}
	}

	.recent-added-items {
		.item-wrap {
			padding:20px;
			img {
				border:1px solid #ccc;
			}
			h5 {
				color:#e9a816;
			}
		}
	}

	.item-form {
		// .file-wrap {
		// 	display:none;
		// 	margin-bottom:20px;
		// 	padding:10px;
		// 	border:2px dashed #cccccc;
		// 	background-color:#eee;
		// 	.item-prev {
		// 		width:100%;
		// 		height:130px;
		// 		background-color:#333;
		// 		background-size:contain;
		// 		background-repeat:no-repeat;
		// 		background-position:center;
		// 		margin-bottom:10px;
		// 	}
		// }
		// #btn-clear{
		//    display:none;
		// }

		.itemimg-wrap {
			padding:10px;
			border:2px dashed #cccccc;
			background-color:#eee;

			.item-img {
				width:100%;
				height:130px;
				background-color:#333;
				background-size:contain;
				background-repeat:no-repeat;
				background-position:center;
				margin-bottom:10px;

				.overlay {
					width:100%;
					height:100%;
					background-color:rgba(0, 0, 0, 0.2);
					display:flex;
					align-items:center;
					.btn {
						margin:auto;
					}
				}
			}
		}
	}

	/*single view item*/

	.merchantViewSingle-item {
		.item-content {
			margin-top:85px;
		}
		.item-for {
			height:300px !important;
			background-size:80%;
			background-repeat:no-repeat;
			background-position:center;
			background-size:cover;
			width:100%;
		}	
	}
}

.merchantReview-content {
	.section-cover {
		background-color:#e0e0e0;
		background-size:cover;
		background-position:center;
		background-repeat:no-repeat;
		.overlay {
			height:100%;
			padding:50px;
			.dp-wrap {
				margin:0 auto;
				width:200px;
				height:200px;
				.dp {
					border-radius: 50%;
				    height: 100%;
				    width: 100%;
				    background-repeat: no-repeat;
				    background-size: cover;
				    background-position: 50%;
				    border: 5px solid #c9c9c9;
				    background-color:#e0e0e0;
				}
			}
			.info {
				text-align:center;
				h1 {
					font-family: 'BernardFashion';
					font-weight:bold;
					color:#f2f2f2;
					text-shadow:-1px 1px 1px #333;
				}
			}
		}
	}

	#view-review {
		.review-modal-dialog .review-modal-header {
			background-color:#e9a816;
			color:#fff;
			h3#name {
				font-family: 'BernardFashion';
				font-weight:bold;
			}
		}
	}
}

.merchantProfile-content {
	.section-cover {
		background-color:#e0e0e0;
		background-size:cover;
		background-position:center;
		background-repeat:no-repeat;
		.overlay {
			height:100%;
			padding:50px;
			.dp-wrap {
				margin:0 auto;
				width:200px;
				height:200px;
				.dp {
					border-radius: 50%;
				    height: 100%;
				    width: 100%;
				    background-repeat: no-repeat;
				    background-size: cover;
				    background-position: 50%;
				    border: 5px solid #c9c9c9;
				    background-color:#e0e0e0;
				}
			}
			.info {
				text-align:center;
				h1 {
					font-family: 'BernardFashion';
					font-weight:bold;
					color:#f2f2f2;
					text-shadow:-1px 1px 1px #333;
				}
			}
		}
	}

	.section-tabmenu {
		.nav {
			ul {
				padding:0;
				margin:0;
				height:auto;
				li {
					list-style:none;
					display:inline-block;
					cursor:pointer;
					margin-right:2px;
					font-weight:bold;
					margin-left:10px;
					font-size:1.5rem;
					text-align:center;
					a {
						text-decoration:none;
						color:inherit;
					}
				}
				li:hover {
					border-bottom:1px solid #e9a816;
					color:#e9a816;
				}
			}
		}
	}
}

.recent-added-items {
	a {
		text-decoration:none;
		color:inherit;

		.merchandise-item {
			width:100%;
			border-top: 1px solid #c9c9c9;
			border-right: 1px solid #c9c9c9;
			border-bottom:5px solid #e9a816;
			border-left: 1px solid #c9c9c9;
			.item-img {
				width:100%;
				height:200px;
				background-color:#c9c9c9;
				background-repeat:no-repeat;
				background-position:center;
				background-size:contain;
			}
			.item-info {
				padding:10px;
				text-align:center;
				background-color:#fff;
				.item-name {
					font-family: 'BernardFashion';
					font-weight:bold;
				}
				.item-price {
					font-family: Arial, Helvetica, sans-serif;
				}
			}
		}
	}
}