



.account-section-wrap{
	margin-top:85px;
	font-family: 'BernardFashion' !important;
    color: inherit;
    font-weight: bold;
    font-size: 1.75rem;
    padding-top:30px;
}





.item-wrap {
	padding:20px;

	img {
		border:1px solid #ccc;
	}

	h5 {
		color:#e9a816;
	}

}



