$fa-font-path: "/build/assets/fonts";
$icon-font-path: "/build/assets/fonts";

@import "bower_components/bootstrap-sass/assets/stylesheets/bootstrap";
@import "bower_components/font-awesome/scss/font-awesome";
@import "bower_components/bootstrap-star-rating/css/star-rating";
@import "bower_components/slick-carousel/slick/slick.scss";
@import "bower_components/slick-carousel/slick/slick-theme.scss";

@font-face {
    font-family: 'Glyphicons Halflings';
    font-style: normal;
	font-weight: 400;
    src: url(/build/assets/fonts/glyphicons-halflings-regular.ttf);
	src: url(/build/assets/fonts/glyphicons-halflings-regular.woff);
	src: url(/build/assets/fonts/glyphicons-halflings-regular.woff2);
}
@font-face {
	font-family: 'BernardFashion';
	font-style: normal;
	font-weight: 400;
	// src: url(/build/assets/fonts/Bernardo%20Moda.ttf);
	src: url(/build/assets/fonts/bernhard-fashion-bt.ttf);
	src: url(/build/assets/fonts/bernhard-fashion-bt.woff);
}
@font-face {
    font-family: 'bernadette';
    font-style: normal;
    font-weight: 400;
    // src: url(/build/assets/fonts/Bernardo%20Moda.ttf);
    src: url(/build/assets/fonts/bernadette.ttf);
}

@font-face {
    font-family: 'open-sans';
    font-style: normal;
    font-weight: normal;
    src: url(/build/assets/fonts/OpenSans-Regular.ttf);
}

* {
	font-family:Arial, Helvetica, sans-serif;
	color:#333;
}
body {
	padding-right: 0px !important;
	background-color:#eee;	
}

#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;

  z-index: 1031; // next to navbar-fixed top 1030

  #status {
    width: 200px;
    height: 200px;
    position: absolute;
    left: 50%;
    top: 50%;
    background-image:url('../../../images/preload.gif');
    background-repeat: no-repeat;
    background-position: center;
    margin: -100px 0 0 -100px;
  }
}



h5 {
	font-size:22px;
}

label {
	font-size:15px;
	color:#444;
}


body.modal-open[style] {
	overflow: hidden;
}
.fixed-action-btn {
    position: fixed;
    right: 23px;
    bottom: 23px;
    padding-top: 15px;
    margin-bottom: 0;
    z-index: 998;

    bottom: 45px;
	right: 24px;

	.btn-floating {
	    display: inline-block;
	    color: #fff;
	    position: relative;
	    overflow: hidden;
	    z-index: 1;
	    width: 40px;
	    height: 40px;
	    line-height: 40px;
	    padding: 0;
	    background-color: #e9a816;
	    border-radius: 50%;
	    transition: .3s;
	    cursor: pointer;
	    vertical-align: middle;

	    width: 56px;
		height: 56px;

		i {
			width: inherit;
		    display: inline-block;
		    text-align: center;
		    color: #fff;
		    font-size: 1.6rem;
		    line-height: 56px;
		}
	}
	.btn-floating:hover {
		background-color: #fff;
		color:#e9a816;
		border:1px solid #e9a816;
		i {
			color:#e9a816;
		}
	}
}
.woo-modal {
	.modal-content {
		border-radius:2px;
		.modal-header {
			.modal-title {
				font-family: 'BernardFashion';
				font-weight:bold;
			}
		}
	}
}
.gold-text {
	color:#e9a816;
}
.gold {
	background-color:#e9a816;
	color:#fff;
}
.form-control {
	font-family: 'BernardFashion';
	font-weight:bold;
	border-radius:2px;
}
.form-control:focus {
    border-color: #e9a816;
    outline: 0;
    box-shadow: inset 0 1px 1px rgba(227, 158, 99, 0.075), 0 0 8px rgba(227, 158, 99, 0.6);
}
.form-control {
	font-family:Arial, Helvetica, sans-serif;
}

.dropzone {
	border:2px dashed #e9a816;
	background-color:#fff;
	min-height:100%;

	.dz-message span {
		color:#6e6e6e;
		font-weight:bold;
	}
}

.woo-btn {
	background-color:#e9a816;
	color:#fff;
	border:1px solid #e9a816;
	border-radius:2px;
	transition:.2s;
	padding:8px;
	// font-weight:bold;
	font-family:helvetica, sans-serif, arial;
	outline:0;
}

.woo-btn:hover {
	background-color:#eee;
	color:#e9a816;
}


#content-right {

	.card {
		background-color:white;
		border: 1px solid #e0e0e0;
		padding:20px;

		table tr i {
			font-size:20px;
			padding:5px;
			cursor:pointer;
		}

	}


	.card-cover {
		width:100%;
		height:auto;
		background-size:cover;
		background-position:center;
		padding:0;

		.row {
			padding:20px;
		}

		.dp {
			height:120px;
			width:120px;
			border-radius:100px;
			background-size:cover;
			margin-left:15px;
			background-position:center;
			float:left;
			border:5px solid #e9a816;
		}


		.info {padding:0;margin:20px;float:left;}
		.info li {list-style:none;color:#e9a816;color:#444;}


		.nav ul {padding:0;margin:0;height:auto;}
		.nav li {list-style:none;float:left;padding:0px 5px 5px 5px;cursor:pointer;margin-right:2px;font-weight:bold;margin-left:10px;font-size:1.5rem;}

		.nav li:hover {border-bottom:3px solid #e9a816;}

		/*.nav-active {border-bottom:3px solid #e9a816;}*/

	}

	hr {
		margin-bottom:8px;
		margin-top:8px;
	}

}

#tab-panel-2, #tab-panel-3 {display:none;}

#application-upload-image {
	position:relative;
	height:150px;
	width:150px;
	cursor:pointer;
}

#application-upload-image:hover{
	opacity:0.8;
}

#application-image, #input-application-image{
	position:absolute;
}

#input-application-image{
	display:none;
}

#input-profile-image{
	display:none;
}

#click-browse-image {
	cursor:pointer;
}

#click-browse-image:hover{
	opacity:0.8;
}

/* Toggle Styles */
#wrapper {
	margin-top:60px;
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    #sidebar-wrapper {
    	border-right:1px solid #e0e0e0;
	    z-index: 1000;
	    position: fixed;
	    left: 250px;
	    width: 0;
	    height: 100%;
	    margin-left: -250px;
	    overflow-y: auto;
	    background-color: #FFF2E6;
	    -webkit-transition: all 0.5s ease;
	    -moz-transition: all 0.5s ease;
	    -o-transition: all 0.5s ease;
	    transition: all 0.5s ease;
	}
	#page-content-wrapper {
	    width: 100%;
	    position: absolute;
	    // padding: 15px;
	}
}
#wrapper.toggled {
    padding-left: 250px;
    #sidebar-wrapper {
	    width: 250px;
	}
	#page-content-wrapper {
	    position: absolute;
	    margin-right: -250px;
	}
}
/* Sidebar Styles */
.sidebar-nav {
    position: absolute;
    top: 10px;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
    li {
    	text-indent: 15px;
    	line-height: 45px;
    	a {
    		display: block;
		    text-decoration: none;
		    color: #575757;
		    i.fa {
		    	display:inline;
		    }
    	}
    	a:hover {
		    text-decoration: none;
		    color: #fff;
		    background-color: #e9a816;
		    i.fa {
		    	color: #fff;
		    }
		}
		a:active, a:focus {
		    text-decoration: none;
		}
    }
    .collapse.in {
    	background-color:#FFECDA;
    }
 //    .sidebar-brand {
	//     height: 65px;
	//     font-size: 18px;
	//     line-height: 60px;
	//     a {
	// 	    color: #999999;
	// 	}
	// 	a:hover {
	// 	    color: #fff;
	// 	    background: none;
	// 	}
	// }
}
@media(min-width:768px) {
    #wrapper {
        padding-left: 250px;
        #sidebar-wrapper {
	        width: 250px;
	    }
	    #page-content-wrapper {
	        // padding: 20px;
	        position: relative;
	    }
    }
    #wrapper.toggled {
        padding-left: 0;
        #sidebar-wrapper {
	        width: 0;
	    }
	    #page-content-wrapper {
	        position: relative;
	        margin-right: 0;
	    }
    }
}