



.navbar {background-color:white;border-bottom:1px solid #e7e7e7 !important;}
.nav .fa {color:#e9a816 !important;}
.nav .fa:hover {color:#333 !important;}

/*single view item*/


.publicItem-content {
	margin-top:100px;
	.single-item-content {
		padding:30px 0px 30px 0px;
		.item-for {
			height:280px !important;
			background-size:100%;
			background-repeat:no-repeat;
			background-position:center;
			width:100%;
			background-size:cover;
		}
		.slider-nav {
			margin-top:20px;
			.item-nav {
				background-size:100%;
				background-repeat:no-repeat;
				background-position:center;
				width:90%;
				height:100px;		
			}
		}
		.item-info {
			background-color:white;
			min-height:400px;
			padding:30px;
			font-family:'open-sans';
			i {
				padding-right:7px;
			}
			h3 {
				color:#e9a816;
				font-family:"BernardFashion";
				font-size:3rem;
				font-weight:bold;
			}
			span {
				padding:5px;
				line-height:25px;
			}
		}
	}
	.other-items {
		text-align:center;
		padding:80px 20px 100px 20px;
		background-color:white;
		h3 {
			font-family:"Bernadette";
			font-size:3rem;
			font-weight:normal;	
			color:#e9a816;
		}
	}

	.more-items {
		a {
			text-decoration:none;
			color:inherit;

			.merchandise-item {
				width:100%;
				border-top: 1px solid #c9c9c9;
				border-right: 1px solid #c9c9c9;
				border-bottom:5px solid #e9a816;
				border-left: 1px solid #c9c9c9;
				.item-img {
					width:100%;
					height:200px;
					background-color:#c9c9c9;
					background-repeat:no-repeat;
					background-position:center;
					background-size:contain;
				}
				.item-info {
					padding:10px;
					text-align:center;
					background-color:#fff;
					.item-name {
						font-family:'open-sans';
						font-size:1.4rem;
					}
					.item-price {
						font-family:'open-sans';
						font-weight:bold;
						font-size:1.6rem;
					}
				}
			}
		}		
	}

	.footer {
		.footer-text {
			font-size:18px !important;
		}
	}

}


