$fa-font-path: "/build/assets/fonts";
$icon-font-path: "/build/assets/fonts";

@import "bower_components/bootstrap-sass/assets/stylesheets/bootstrap";
@import "bower_components/font-awesome/scss/font-awesome";
// @import url(http://fonts.googleapis.com/css?family=Roboto:400,300);
@import "bower_components/eonasdan-bootstrap-datetimepicker/src/sass/bootstrap-datetimepicker-build";
@import "bower_components/bootstrap-select/sass/bootstrap-select";
@import "bower_components/bootstrap-star-rating/css/star-rating";
@import "bower_components/bootstrap-star-rating/css/theme-krajee-fa";
@import "bower_components/bootstrap-star-rating/css/theme-krajee-svg";
@import "bower_components/bootstrap-star-rating/css/theme-krajee-uni";
@import "bower_components/lity/dist/lity";
@import "bower_components/aos/src/sass/aos";
@import "bower_components/slick-carousel/slick/slick.scss";
@import "bower_components/slick-carousel/slick/slick-theme.scss";
@import "bower_components/lightgallery.js/dist/css/lightgallery.css";

@font-face {
    font-family: 'Glyphicons Halflings';
    font-style: normal;
	font-weight: 400;
    src: url(/build/assets/fonts/glyphicons-halflings-regular.ttf);
	src: url(/build/assets/fonts/glyphicons-halflings-regular.woff);
	src: url(/build/assets/fonts/glyphicons-halflings-regular.woff2);
}
@font-face {
	font-family: 'BernardFashion';
	font-style: normal;
	font-weight: 400;
	// src: url(/build/assets/fonts/Bernardo%20Moda.ttf);
	src: url(/build/assets/fonts/bernhard-fashion-bt.ttf);
	src: url(/build/assets/fonts/bernhard-fashion-bt.woff);
}
@font-face {
    font-family: 'bernadette';
    font-style: normal;
    font-weight: 400;
    // src: url(/build/assets/fonts/Bernardo%20Moda.ttf);
    src: url(/build/assets/fonts/bernadette.ttf);
}

@font-face {
    font-family: 'open-sans';
    font-style: normal;
    font-weight: normal;
    src: url(/build/assets/fonts/OpenSans-Regular.ttf);
}

* {
	font-family: 'open-sans';
	color:#333;
}
body {
	padding-right: 0px !important;
	background-color:#f2f2f2;
}
body.modal-open[style] {
	overflow: hidden;
}


// diamond colors

.diamond-white {color:#ffffff !important;}
.diamond-green {color:#10af2e !important;}
.diamond-blue {color:#0b50b5 !important;}
.diamond-purple {color:#613491 !important;}
.diamond-red {color:#dd1726 !important;}
.diamond-orange {color:#f39325 !important;}
.diamond-yellow {color:#feee29 !important;}



.section-title {
    text-align:center;
    font-weight:normal;
    font-family:'bernadette';   
    font-size:4.3rem;
    color:#e9a816;
    margin:10px !important;
}


.section-subtitle {
    text-align:center;
    font-weight:normal;
    font-family:'BernardFashion';   
    font-size:4.3rem;
    color:#333;
}


#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;

  z-index: 1031; // next to navbar-fixed top 1030

  #status {
    width: 200px;
    height: 200px;
    position: absolute;
    left: 50%;
    top: 50%;
    background-image:url('../../../images/preload.gif');
    background-repeat: no-repeat;
    background-position: center;
    margin: -100px 0 0 -100px;
  }
}

.woo-btn {
	border-radius:2px;
	font-family: 'BernardFashion';
	font-weight:bold;
	color: #e9a816;
}
.woo-modal {
	.modal-content {
		border-radius:2px;
		.modal-header {
            button.close span {
                font-family: Arial, Helvetica, sans-serif;
            }
			.modal-title {
				font-family: 'BernardFashion';
				font-weight:bold;
			}
		}
	}
}
.gold-text {color:#e9a816;}


.gold {
	background-color:#e9a816;
	color:#fff;
	i {
		color:#fff;
	}
}
.rating-container {
    .rating {
        .filled-stars {
            text-shadow:none;
            -webkit-text-stroke:1px #f1c40f!important;
        }
        .star {
            .glyphicon-star {
                color:#f1c40f;
            }
            .glyphicon-star-empty {
                color:#c9c9c9;
            }
        }
    }
    .caption {
        span.label {
            font-family: Arial, Helvetica, sans-serif;
        }
    }
}
// label {
//     font-family: 'BernardFashion';
//     font-weight:bold;
// }
.form-control {
	// font-family: 'BernardFashion';
	// font-weight:bold;
	font-family: Arial, Helvetica, sans-serif;
	border-radius:2px;
}
.form-control:focus {
    border-color: #e9a816;
    outline: 0;
    box-shadow: inset 0 1px 1px rgba(227, 158, 99, 0.075), 0 0 8px rgba(227, 158, 99, 0.6);
}
.btn-group.bootstrap-select.show-tick.form-control {
    margin-bottom:15px;
    .select-dropdown {
        border:1px solid #ccc;
        .filter-option {
            font-family: Arial, Helvetica, sans-serif;
        }
    }
    .dropdown-menu {
        ul > li a span.text {
            font-family: Arial, Helvetica, sans-serif;
        }
    }
}
/* START Range Input */
.range {
    display: table;
    position: relative;
    height: 25px;
    background-color: rgb(245, 245, 245);
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.range input[type="range"] {
    -webkit-appearance: none !important;
    -moz-appearance: none !important;
    -ms-appearance: none !important;
    -o-appearance: none !important;
    appearance: none !important;

    display: table-cell;
    width: 100%;
    background-color: transparent;
    height: 25px;
    cursor: pointer;
}
.range input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none !important;
    -moz-appearance: none !important;
    -ms-appearance: none !important;
    -o-appearance: none !important;
    appearance: none !important;

    width: 11px;
    height: 25px;
    color: rgb(255, 255, 255);
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0px;
    background-color: rgb(153, 153, 153);
}

.range input[type="range"]::-moz-slider-thumb {
    -webkit-appearance: none !important;
    -moz-appearance: none !important;
    -ms-appearance: none !important;
    -o-appearance: none !important;
    appearance: none !important;
    
    width: 11px;
    height: 25px;
    color: rgb(255, 255, 255);
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0px;
    background-color: rgb(153, 153, 153);
}

.range output {
    display: table-cell;
    padding: 3px 5px 2px;
    min-width: 40px;
    color: rgb(255, 255, 255);
    background-color: rgb(153, 153, 153);
    text-align: center;
    text-decoration: none;
    border-radius: 4px;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    width: 1%;
    white-space: nowrap;
    vertical-align: middle;

    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;

    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: -moz-none;
    -o-user-select: none;
    user-select: none;
}
.range input[type="range"] {
    outline: none;
}
/* END Range */



@media(max-width:628px){
    #gallery_div{
        width: 290px !important;
    }
    .photo200 {
        width:107 !important;
        height:107 !important;
    }

}


