.viewArtist-content {
	.option-buttons{
		button {
			outline:0;
			margin:5px;
		}

		i {
			color:white;
			margin-right:5px;
		}
	}


	.left-content {
		.user-profile-image{
			height:150px;
			width:100%;
			background-size:contain;
			background-position:center;
			background-repeat:no-repeat;
			background-color:#c9c9c9;
		}

		#profile_image {
			display:none;
		}

	}

	.right-content {
		border-left:1px solid #eee;
		
		.time-updated {
			padding:10px;
			margin:5px 0px 0px 0px;
		}

	}

	.affil-fields .input-group {
		margin-bottom:10px;
	}

}

.albums {
	.album-wrapper {
		padding:5px;
		.album-folder-placeholder {
			padding:20px 0px 20px 0px;
			border:1px solid #ccc;
			border-radius:5px;
			text-align:center;
			font-weight:bold;
			font-size:14px;
			color:#ccc;
			.fa-photo {
				font-size:60px;
				color:#ccc;
				vertical-align:middle;
			}

			h5 {
				margin:5px;
			}
		}
		span {
			color:#9e9696 !important;
			font-size:13px;
			cursor:pointer;
		}

		span:hover {color:#444;text-decoration:underline;}
	}
}


.album {
	
	.picture-placeholder{
		width:100%;
		padding:10px;
		border:1px solid #ccc;
		border-radius:3px;
		margin-top:20px;
	}

	.picture-wrap {
		height:150px;
		width:100%;
		background-size:cover;
		background-position:center;	
	}

	.video-wrap {
		margin-top:20px;
	}

	.delete-button:hover {cursor:pointer;color:red;}
	.delete-button:hover fa-trash {cursor:pointer;color:red;}
}