
.navbar {background-color:transparent;}
.nav .fa {color:#e9a816 !important;}
.nav .fa:hover {color:#333 !important;}


.merchantPublic-content {
	.section-cover {
		height:400px;
	    background-color: transparent;
	    background-position: top center;
	    background-size: cover;
	    background-repeat: no-repeat;
	    overflow: hidden;
	    padding-top:120px;
	    .dp-container {
	    	height:200px;
	    	width:200px;
	    	margin:auto;
			.dp {
			    border-radius: 50%;
			    height:200px;
			    width:200px;
			    background-repeat: no-repeat;
			    background-size: cover;
			    background-position: center;
			    border: 5px solid #c9c9c9;
			}
			.merchant-subscribe {
				padding:23px;
				width:100%;
				text-align:center;
				i {
					font-size:23px;
					cursor:pointer;
				}
				.fa-facebook {
					color:#4b7bdb;
				}
				.fa-facebook:hover {
					color:#2980b9;
				}
				.fa-star {
					color:#f1c40f;
				}
				.fa-star:hover {
					color:#f39c12;
				}
			}
	    }
	}

	.section-divider {
		text-align:center;
		padding: 20px; 
    	background-color: #e9a816;
		h3 {
	    	color:white;
			font-family: 'bernadette';
			font-size:5rem;
			font-weight:normal;
			margin-bottom:5px;
	    }
	    span {
	    	color:white;
	    	font-family:"open-sans";
	    	font-size:1.5rem;
	    	font-weight:normal;
	    }
	}

	.section-featured-items {
		padding:50px 0px 70px 0px;
		h2 {
			font-family: 'bernadette';
			font-size:4rem;
			font-weight:normal;
			color:#e9a816;		
		}
		.merchandise-wrap {
			.merchandise-carousel {
				a {
					text-decoration:none;
					color:inherit;
					.merchandise-item {
						width:100%;
						border-top: 1px solid #c9c9c9;
						border-right: 1px solid #c9c9c9;
						border-bottom:5px solid #e9a816;
						border-left: 1px solid #c9c9c9;
						.item-img {
							width:100%;
							height:200px;
							background-color:#c9c9c9;
							background-repeat:no-repeat;
							background-position:center;
							background-size:contain;
						}
						.item-info {
							padding:10px;
							text-align:center;
							background-color:#fff;
							.item-name {
								font-family: 'open-sans';
								font-weight:normal;
								font-size:1.4rem;
								color:#333;
							}
							.item-price {
								font-family: 'open-sans';
								font-size:1.6rem;
								font-weight:bold;
								color:black;
							}
						}
					}
				}
			}

		}

	}

	.footer-text {
		font-size:18px !important;
	}

	.send-review-modal-body {
		label {
			font-family: 'bernadette';
			font-size:20px;
		}
		.review-textarea {
			height:100px;
		}
	}

	.glyphicon {
		color:#f1c40f !important;
	}

}

