


.review-modal-dialog{
	width:400px;
}



.review-modal-header {
	min-height:200px;
	background-color:#e39e63;
	border-bottom:none !important;

	h3 {
		color:white;
	}
}


.review-modal-body {
	padding:20px;
}


.reviewer-figure {
	height:100px;
	width:100px;
	border-radius:100px;
	background-size:cover;
	background-position:center;
    border: 4px solid #c9c9c9;
    margin:auto;
}