$fa-font-path: "/build/assets/fonts";
$icon-font-path: "/build/assets/fonts";

@import "bower_components/bootstrap-sass/assets/stylesheets/bootstrap";
@import "bower_components/font-awesome/scss/font-awesome";
@import url(http://fonts.googleapis.com/css?family=Roboto:400,300);
@import "bower_components/magnific-popup/src/css/main";
@import "bower_components/eonasdan-bootstrap-datetimepicker/src/sass/bootstrap-datetimepicker-build";
@import "bower_components/bootstrap-select/sass/bootstrap-select";
@import "bower_components/image-picker/source/sass/image-picker";
@import "bower_components/bootstrap-star-rating/css/star-rating";
@import "bower_components/bootstrap-star-rating/css/theme-krajee-fa";
@import "bower_components/bootstrap-star-rating/css/theme-krajee-svg";
@import "bower_components/bootstrap-star-rating/css/theme-krajee-uni";
@import "bower_components/lity/dist/lity";
@import "bower_components/dropzone/dist/dropzone";

@font-face {
    font-family: 'Glyphicons Halflings';
    font-style: normal;
	font-weight: 400;
    src: url(/build/assets/fonts/glyphicons-halflings-regular.ttf);
	src: url(/build/assets/fonts/glyphicons-halflings-regular.woff);
	src: url(/build/assets/fonts/glyphicons-halflings-regular.woff2);
}
@font-face {
	font-family: 'BernardFashion';
	font-style: normal;
	font-weight: 400;
	// src: url(/build/assets/fonts/Bernardo%20Moda.ttf);
	src: url(/build/assets/fonts/bernhard-fashion-bt.ttf);
	src: url(/build/assets/fonts/bernhard-fashion-bt.woff);

}
@font-face {
	font-family: 'Learning Curve Pro';
	font-style: normal;
	font-weight: 400;
	src: url(/build/assets/fonts/LearningCurve_OT.otf);
}

@font-face {
    font-family: 'open-sans';
    font-style: normal;
    font-weight: normal;
    src: url(/build/assets/fonts/OpenSans-Regular.ttf);
}

* {
	// font-family: 'Learning Curve Pro';
	font-family: 'open-sans';
	color:#333;
}
body {
	padding-right: 0px !important;
	background-color:#f2f2f2;
	overflow-x:hidden;
}
body.modal-open[style] {
	overflow-x: hidden;
}

// diamond colors

.diamond-white {color:#ffffff !important;}
.diamond-green {color:#10af2e !important;}
.diamond-blue {color:#0b50b5 !important;}
.diamond-purple {color:#613491 !important;}
.diamond-red {color:#dd1726 !important;}
.diamond-orange {color:#f39325 !important;}
.diamond-yellow {color:#feee29 !important;}


#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;

  z-index: 1031; // next to navbar-fixed top 1030

  #status {
    width: 200px;
    height: 200px;
    position: absolute;
    left: 50%;
    top: 50%;
    background-image:url('../../../images/preload.gif');
    background-repeat: no-repeat;
    background-position: center;
    margin: -100px 0 0 -100px;
  }
}

.btn {
	border-radius:2px;
}
.woo-btn {
	border-radius:2px;
	font-family: 'BernardFashion';
	font-weight:bold;
	color: #e9a816;
}
.woo-btn-submit, .woo-btn-button {
	background-color:#e9a816;
	border:1px solid #e9a816;
	border-radius:2px;
	color:#fff;
	i.fa {
		color:#fff;
	}
}
.woo-btn-submit:hover, .woo-btn-button:hover {
	background-color:#fff;
	color:#e9a816;
	i.fa {
		color:#e9a816;
	}
}
.fixed-action-btn {
    position: fixed;
    right: 23px;
    bottom: 23px;
    padding-top: 15px;
    margin-bottom: 0;
    z-index: 998;

    bottom: 45px;
	right: 24px;

	.btn-floating {
	    display: inline-block;
	    color: #fff;
	    position: relative;
	    overflow: hidden;
	    z-index: 1;
	    width: 40px;
	    height: 40px;
	    line-height: 40px;
	    padding: 0;
	    background-color: #e9a816;
	    border-radius: 50%;
	    transition: .3s;
	    cursor: pointer;
	    vertical-align: middle;

	    width: 56px;
		height: 56px;

		i {
			width: inherit;
		    display: inline-block;
		    text-align: center;
		    color: #fff;
		    font-size: 1.6rem;
		    line-height: 56px;
		}
	}
	.btn-floating:hover {
		background-color: #fff;
		color:#e9a816;
		border:1px solid #e9a816;
		i {
			color:#e9a816;
		}
	}
}
.woo-modal {
	.modal-content {
		border-radius:2px;
	}
}
.gold-text {
	color:#e9a816;
}
.gold {
	background-color:#e9a816;
	color:#fff;
}
.rating-container {
    .rating {
        .filled-stars {
            text-shadow:none;
            -webkit-text-stroke:1px #f1c40f!important;
        }
        .star {
            .glyphicon-star {
                color:#f1c40f;
            }
            .glyphicon-star-empty {
                color:#c9c9c9;
            }
        }
    }
    .caption {
        span.label {
            font-family: Arial, Helvetica, sans-serif;
        }
    }
}
.form-control {
	font-family: Arial, Helvetica, sans-serif;
	border-radius:2px;
}
.form-control:focus {
    border-color: #e9a816;
    outline: 0;
    box-shadow: inset 0 1px 1px rgba(227, 158, 99, 0.075), 0 0 8px rgba(227, 158, 99, 0.6);
}
.btn-group.bootstrap-select.show-tick.form-control {
    margin-bottom:15px;
    .select-dropdown {
        border:1px solid #ccc;
        .filter-option {
            font-family: Arial, Helvetica, sans-serif;
        }
    }
    .dropdown-menu {
        ul > li a span.text {
            font-family: Arial, Helvetica, sans-serif;
        }
    }
}
.dropzone {
	border:2px dashed #e9a816;
	background-color:#fff;
	min-height:100%;

	.dz-message span {
		color:#6e6e6e;
		font-weight:bold;
	}
}

/* Toggle Styles */
#wrapper {
	margin-top:60px;
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    #sidebar-wrapper {
    	border-right:1px solid #e0e0e0;
	    z-index: 1000;
	    position: fixed;
	    left: 250px;
	    width: 0;
	    height: 100%;
	    margin-left: -250px;
	    overflow-y: auto;
	    background-color: #FFF;
	    -webkit-transition: all 0.5s ease;
	    -moz-transition: all 0.5s ease;
	    -o-transition: all 0.5s ease;
	    transition: all 0.5s ease;
	}
	#page-content-wrapper {
	    width: 100%;
	    position: absolute;
	    // padding: 15px;
	}
}
#wrapper.toggled {
    padding-left: 250px;
    #sidebar-wrapper {
	    width: 250px;
	}
	#page-content-wrapper {
	    position: absolute;
	    margin-right: -250px;
	}
}
/* Sidebar Styles */
.sidebar-nav {
    position: absolute;
    top: 10px;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
    li {
    	text-indent: 15px;
    	line-height: 45px;
    	a {
    		display: block;
		    text-decoration: none;
		    color: #575757;
		    i.fa {
		    	display:inline;
		    }
    	}
    	a:hover {
		    text-decoration: none;
		    color: #fff;
		    background-color: #e9a816;
		    i.fa {
		    	color: #fff;
		    }
		}
		a:active, a:focus {
		    text-decoration: none;
		}
    }
    // .collapse.in {
    // 	background-color:#FFECDA;
    // }
 //    .sidebar-brand {
	//     height: 65px;
	//     font-size: 18px;
	//     line-height: 60px;
	//     a {
	// 	    color: #999999;
	// 	}
	// 	a:hover {
	// 	    color: #fff;
	// 	    background: none;
	// 	}
	// }
}
@media(min-width:768px) {
    #wrapper {
        padding-left: 250px;
        #sidebar-wrapper {
	        width: 250px;
	    }
	    #page-content-wrapper {
	        // padding: 20px;
	        position: relative;
	    }
    }
    #wrapper.toggled {
        padding-left: 0;
        #sidebar-wrapper {
	        width: 0;
	    }
	    #page-content-wrapper {
	        position: relative;
	        margin-right: 0;
	    }
    }
}

@media(max-width:768px) {
	.artistDashboard-content {
		.section-1.profile-cover {
			.overlay {
				.dp-container {
					.dp {
						margin:auto;
						max-height:150px;
						max-width:150px;
					}
				}
				.basic-info {
					text-align:center;
				}
			}
		}
	}
}