.woo-admin-nav {
	background-color:#e9a816;
	margin-bottom:0;

	.container, .container-fluid {
		// padding-top:15px;
		// padding-bottom:20px;

		.navbar-toggle > span {
			background-color:#fff;
		}
		.navbar-brand img {
			width:100px;
		}
		.nav > li > a {
			i, span {
				color: #fff;
				// font-size: 2rem;
			}
		}
		.nav > li > a:hover, .nav > li > a:focus {
		    background-color: transparent;
		    color: #333;
		    i {
		    	color: #333;
		    }
		}
		.dropdown-menu {
			background-color:#e9a816;
			li a {
				color: #fff;
				// font-size: 1.75rem;
			}
			li a:hover, .dropdown-menu li a:focus {
				background-color: #FFE0C4;
				color:#333;
			}
		}
		// .navbar-form {
		// 	.input-group {
		// 		input.form-control {
		// 			border-radius:15px 0 0 15px;
		// 			font-size:2rem;
		// 		}
		// 		.btn-round {
		// 			background-color:#e9a816;
		// 			border-radius:0 15px 15px 0;
		// 			.fa {
		// 				color:#fff;
		// 			}
		// 		}
		// 	}
		// }
	}
}
.card-panel {
	padding:20px;
	background-color:#fff;
	border:1px solid #e0e0e0;
	margin-bottom:20px;
}
.section-title {
	font-weight:bold;
	font-size:4rem;
}

.adminDashboard-content {
	.section-content {
		padding-top:25px;

		.stat-board {
			.stat-panel {
				margin-bottom:20px;
				border-radius:4px;
				.stat-count {
					width:100%;
					height:150px;
					display:flex;
					align-items:center;
					span {
						margin:auto;
						font-size:4rem;
						font-weight:bold;
					}
				}
				.stat-label {
					padding:10px;
					background-color:#fff;
					font-weight:bold;
					border-radius:0 0 4px 4px;
					text-align:center;
				}
			}
			.stat-panel.gold {
				border:1px solid #e0e0e0;
				.stat-count {
					background-color:#e9a816;
					span {
						color:#fff;
					}
				}
			}
			.stat-panel.default {
				border:1px solid #e0e0e0;
				.stat-count {
					background-color:#e0e0e0;
				}
			}
		}
	}
}


.adminArtist-content {
	.martist {
		button {
			i {
				color:white;
			}
		}
	}

	#upgrade-artist {
		.modal-title {
			i {
				color:white;
			}
		}
		.profile-level-wrapper {
			.level {
				padding:10px;
				.level-wrap {
					min-height:430px;
					border:1px solid #ccc;
					padding:15px;
					h3 {
						margin-top:0;
						font-size:1.8rem;
						color:#444;
					}
					hr {
						border-top:1px solid #ccc;
					}
					p{
						font-size:1.4rem;
						color:#333;
					}

					.radio{
						display:none;
					}
				}
				.level-wrap:hover {
					border:1px solid #e9a816;
					cursor:pointer;
				}

				.bordered {
					border:2px solid #e9a816;
					background-color:#eee;
				}
			}
		}
	}
}
.adminEvent-content {
	.view-edit-event {
		.file-wrap {
			display:none;
		    width: 100%;
		    height: 300px;
		    background-color: #333;
		    background-repeat: no-repeat;
		    background-size: contain;
		    background-position: center center;
		}
	}
}
.adminReview-content { }
.adminItem-content {
	.file-wrap {
		display:none;
		margin-bottom:20px;
		padding:10px;
		border:2px dashed #cccccc;
		background-color:#eee;
		.item-prev {
			width:100%;
			height:130px;
			background-color:#333;
			background-size:contain;
			background-repeat:no-repeat;
			background-position:center;
			margin-bottom:10px;
		}
	}
	#btn-clear{
	   display:none;
	}
}
.adminUpdates-content {
	.recent-updates {
		.media.update-item:not(:last-child) {
			border-bottom:1px solid #eee;
			padding-bottom:10px;
		}
	}
}
.adminPassword-content { }

.modal-dialog-view-makeup-artist {
	width:420px;

	.modal-content {

		.modal-body {
			padding:0;

			.body-top{
				padding:20px;
				background-color:#e9a816;

				h3 {
					color:white;
					font-family:"Bernard Fashion";
				}

			}

			.body-bottom {
				padding:20px;
				background-color:white;
			}

		}
	}


}