


body {
	
}


.viewMerchant-content {
	.option-buttons{
		button {
			outline:0;
			margin:5px;
		}

		i {
			color:white;
			margin-right:5px;
		}
	}

	.time-updated {
		padding:6px;
		margin:5px 0px 0px 0px;
		width:inherit;
	}


	.left-content {
		.user-profile-image{
			height:150px;
			width:100%;
			background-size:contain;
			background-position:center;
			background-repeat:no-repeat;
			background-color:#c9c9c9;
		}

		#profile_image {
			display:none;
		}

	}

	.right-content {
		border-left:1px solid #eee;
		.time-updated {
			width:0px;
			padding:10px;
		}
	}

}
