
<div style="color:#000; font-family: Arial, Helvetica, sans-serif; width:100%; padding: 30px;">
    <div style="width:600px; margin: 0 auto; border: 2px solid #e9a816; padding: 20px;">
        <center>
            <div style="padding: 1em 0; background: #e9a816;">
                <img alt="Woomen" src="{{ env('APP_URL') }}/images/brand/logo%20white.png" style="margin-left: 1em; width: 300px;"/>
            </div>
            <h3 style='letter-spacing: 1px; color:#000;'> Booking Declined</h3>
            <div style='margin: 1em; line-height: 150%;'>
                <p style='font-size: 15px; letter-spacing: 1px; color:#000;'>
                    Your booking request has been declined by <b>Nicole Alday</b>
                </p>
                <hr>
                <h4 style="text-align:left;">Reason/Remarks</h4>
                <p style='font-size: 15px;margin-top:0; letter-spacing: 1px; color:#000;text-align:left;'>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </p>
                <br/>
                <small>
                    Copyright &copy; 2016 Woomen
                </small>
            </div>
        </center>
    </div>
</div>

